@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include lh(16px, 12px, 12px);

  background-color: getColor(white-text-color);
  color: getColor(primary-text-color);

  @media screen and (min-width: getSize(desktop)) {
    @include lh(24px, 20px, 20px);
  }

  &.modal-open,
  &.js-modal-is-hidden {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.ext-pad {
  padding-bottom: 60px;
}

.ext-pad .cards {
  padding-bottom: 0;
}
