$colors: (
    'primary-text-color': #000000,
    'accent-text-color': #FF6B08,
    'white-text-color': #ffffff,
    'footer-text-color':#545454,
    'current-page': #FF001B,
    'my-library-current-bcg-button': #FF6B02,

    'body-bcg': #E5E5E5,
    'modal-overlay': rgba(0, 0, 0, 0.56),
    'modal-items': #8C8C8C,

    'pagination-arrow': #F7F7F7,
    'footer-bcg': #F7F7F7,
);

// Colors
@function getColor($key) {
    @return map-get($colors, $key);
}

$properties: (
    'cubic': cubic-bezier(0.175, 0.885, 0.32, 1.275),
    'time': 300ms,
);

// Properties
@function getProperty($key) {
    @return map-get($properties, $key);
}

$breakpoints: (
    'wmobile':319.98px,
    'mobile': 320px,
    'tablet': 768px,
    'wdesktop': 1279.98px,
    'desktop': 1280px,
);

// Breakpoints 
@function getSize($key) {
    @return map-get($breakpoints, $key);
}