<footer class="footer">
  <div class="container footer__container">
    <p class="footer__info">
      © 2022 | <span class="lang__rights_text">All Rights Reserved</span> |
    </p>
    <p class="footer__info">
      <span class="footer__text"> Developed with</span>
      <svg width="14" height="13" class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__by_text">by</span>

      <button type="button" class="footer__btn" data-open-modal__window>
        GoIT Students
      </button>
    </p>
    <div class="overlay is-open-modal" data-modal__window>
      <div class="modal footer__wrapper">
        <button class="footer-modal__btn" data-close-modal__window>
          <svg width="20" height="20" class="swiper__icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="swiper swiper--bcg">
          <div class="swiper-wrapper swiper-wrapper--pad">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/tetiana-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />
                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/tetiana.png"
                  alt="TeamLead - Tetiana Bulatova"
                  loading="lazy"
                />
              </picture>
              <div class="swiper--flex">
                <span class="swiper__text">Tetiana Bulatova</span>
                <a
                  class="swiper__link"
                  href="https://github.com/BulatovaTati"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
              <p class="swiper__comment">
                Hello! My name is Tetiana Bulatova. I was the Team Leader. I
                made a footer and connected a swiper to the modal window of all
                team members. By clicking on the git icon, you can find personal
                works of team members.
              </p>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/diana-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/diana.png"
                  alt="Diana Pustolyakova"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Diana Pustolyakova</span>
                <a
                  class="swiper__link"
                  href="https://github.com/Diana064"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Diana Pustolyakova. Implemented the adaptive
                  layout of the main container, compiled the header of the
                  library page. I wrote styles for photo cards and adapted the
                  dimensions of the card according to the terms of reference.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/yaroslav-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/yaroslav.png"
                  alt="Yaroslav Taranovskiy"
                  loading="lazy"
                />
              </picture>
              <div class="swiper--flex">
                <span class="swiper__text">Yaroslav Taranovskiy</span>
                <a
                  class="swiper__link"
                  href="https://github.com/YaroslavTaranovskiy"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Yaroslav Taranovskiy. I wrote a request for
                  full information about the movie for the movie page, request a
                  list of the most popular movies to date to create a collection
                  on the main page. Was on the support based on the results of
                  the call requests.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/rost-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/rost.png"
                  alt="Rostyslav Kviatkovskyi"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Rostyslav Kviatkovskyi</span>
                <a
                  class="swiper__link"
                  href="https://github.com/RostyslavKviatkovskyi"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Rostyslav Kviatkovskyi. I made the header of
                  the main page with the ability to switch between pages. When
                  clicking on the "My Library" button displays the user's
                  library. Also implemented the search and display of movies by
                  keyword.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/Yura-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/Yura.png"
                  alt="Yurii Pohorilets"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Yurii Pohorilets</span>
                <a
                  class="swiper__link"
                  href="https://github.com/YuriiPohorilets"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is YuriiPohorilets. I have connected pagination
                  on the main page. When you go to a different page, the
                  corresponding movies will be displayed. Connected Loader
                  (spinner) for asynchronous requests.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/vitalPol-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team//vitalPol.png"
                  alt="Vitaliy Poliakov"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Vitaliy Poliakov</span>
                <a
                  class="swiper__link"
                  href="https://github.com/vitalik211287"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Vitaliy Poliakov. I implemented the logic of
                  displaying movies on the "Watched" and "Queue" pages.Which
                  shows watched movies and movies added to the user's queue.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/vitM-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/vitM.png"
                  alt="Vitaliy Mishugli"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Vitaliy Mishugli</span>
                <a
                  class="swiper__link"
                  href="https://github.com/VitaliyMishugli"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Vitaliy Mishugli. I implemented uploading of
                  popular movies to the main (first) page. And made a card
                  template of one movie for automatic rendering on the page.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/oleksii-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/oleksii.png"
                  alt="Oleksii Kolisnyk"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Oleksii Kolisnyk</span>
                <a
                  class="swiper__link"
                  href="https://github.com/Oleksii26"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Oleksii Kolisnyk.I wrote the logic of the
                  buttons in the modal window, namely the button "Add to
                  watched" movie adds the movie to the watched movies of the
                  current user. By clicking the "Add to queue" button, the movie
                  is added to the current user's queue.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/andrii-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/andrii.png"
                  alt="Andrii Stepaniuk"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Andrii Stepaniuk</span>
                <a
                  class="swiper__link"
                  href="https://github.com/Guns1roses"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Andrii Stepaniuk. I implemented a scroll to
                  the top and gave the markup with the possibility to watch the
                  movie trailer.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/alex-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/alex.png"
                  alt="Oleksandr Chyhryn"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Oleksandr Chyhryn</span>
                <a
                  class="swiper__link"
                  href="https://github.com/Chyhryn"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="swiper__comment">
                  Hello! My name is Oleksandr Chyhryn. I create a modal template
                  for one film. I made a modal window close on the ESC key. I
                  realized that after clicking on the movie card, a modal should
                  open on any page with dynamically inserted information about
                  the movie.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/footer-team/mentor-webp.webp 1x"
                  type="image/webp"
                  media="(min-width: 320px)"
                />

                <img
                  width="174"
                  height="174"
                  class="swiper-img"
                  src="./images/footer-team/mentor.png"
                  alt="Mentor - Vladyslav Rokhmaniuk"
                  loading="lazy"
                />
              </picture>

              <div class="swiper--flex">
                <span class="swiper__text">Vladyslav Rokhmaniuk</span>
                <a
                  class="swiper__link"
                  href="https://github.com/botaniq"
                  target="blank"
                  rel="noopener noreferrer"
                >
                  <svg width="20" height="20" class="swiper__icon">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </div>
              <p class="swiper__comment">
                Hello! My name is Vladyslav Rokhmaniuk. I am a GoIT mentor. I
                helped this team in controversial issues, supported and provided
                additional information, articles that could help the team in the
                implementation of the project.
              </p>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
