<footer class="footer">
  <div class="container footer__container">
    <p class="footer__info">
      © 2022 | <span class="lang__rights_text">All Rights Reserved</span> |
    </p>
    <p class="footer__info">
      <span class="footer__text"> Developed with</span>
      <svg width="14" height="13" class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__by_text">by</span>

      <button type="button" class="footer__btn js-open-modal" data-modal="2">
        GoIT Students
      </button>
    </p>
    <div class="overlay js-overlay-modal"></div>
    <div class="modal footer__wrapper" data-modal="2">
      <button class="foother-modal__btn js-modal-close">
        <svg width="20" height="20" class="swiper__icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="swiper swiper--bcg">
        <div class="swiper-wrapper swiper-wrapper--pad">
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/tetiana.png"
              alt="TeamLead - Tetiana Bulatova"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Tetiana Bulatova</span>
              <a
                class="swiper__link"
                href="https://github.com/BulatovaTati"
                target="blank"
                rel="noopener noreferrer"
              >
                <svg width="20" height="20" class="swiper__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
            <p class="swiper__comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              quas nesciunt officia adipisci assumenda voluptatibus, beatae
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              quas nesciunt officia adipisci assumenda voluptatibus, beatae
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              quas nesciunt officia adipisci assumenda voluptatibus, beatae
            </p>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/diana.jpg"
              alt="Diana Pustolyakova"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Diana Pustolyakova</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/plug.png"
              alt="Yaroslav Taranovskiy"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Yaroslav Taranovskiy</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/rost.jpg"
              alt="Rostyslav Kviatkovskyi"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Rostyslav Kviatkovskyi</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/Yura.png"
              alt="Yurii Pohorilets"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Yurii Pohorilets</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/plug.png"
              alt="Vitaliy Poliakov"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Vitaliy Poliakov</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/vitM.jpg"
              alt="Vitaliy Mishugli"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Vitaliy Mishugli</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/plug.png"
              alt="Oleksandr Kolisnyk"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Oleksandr Kolisnyk</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/plug.png"
              alt="Andrii Stepaniuk"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Andrii Stepaniuk</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              width="174"
              class="swiper-img"
              src="./images/footer-team/alex.jpg"
              alt="Oleksandr Chugrin"
            />
            <div class="swiper--flex">
              <span class="swiper__text">Oleksandr Chugrin</span>
              <svg width="20" height="20" class="swiper__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              <p class="swiper__comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt quas nesciunt officia adipisci assumenda voluptatibus,
                beatae
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</footer>
