<footer class="footer">
  <div class="container footer__container">
    <p class="footer__info">
      © 2022 | <span class="lang__rights_text">All Rights Reserved</span> |
    </p>
    <p class="footer__info">
      <span class="footer__text"> Developed with</span>
      <svg width="14" height="13" class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__by_text">by</span>
      <a class="footer__link" href="#">GoIT Students</a>
    </p>
  </div>
</footer>
