<header class="header" id="home">
  <div class="header__container container">
    <div class="header__wrapper">
      <a class="logo" href="./index.html" aria-label="Filmoteka logo">
        <svg width="24" height="24" class="header__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item active">
            <a class="nav__link" href="index.html">HOME</a>
          </li>
          <li class="nav__item nav__item-auth">
            <a class="nav__link" href="./library.html">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="input">
      <form class="input__wraper">
        <input
          class="header__input"
          name="searchQuery"
          type="text"
          placeholder="Search films"
          autocomplete="off"
        />
        <button class="input__search-btn" type="submit">
          <svg width="24" height="24" class="input__search-icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="input__error" id="js-input-error"></p>
  </div>
</header>
