<header class="header header__library">
  <div class="header__container container">
    <div class="header__wrapper">
      <a class="logo" href="./index.html" aria-label="Filmoteka logo">
        <svg width="24" height="24" class="header__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="index.html">HOME</a>
          </li>
          <li class="nav__item nav__item-auth current">
            <a class="nav__link" href="./library.html">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__buttons">
      <button class="button button-active watched_button">Watched</button>
      <button class="button queue_button">queue</button>
    </div>
  </div>
  <div class="theme">
    <a href="#" class="theme__toggle">
      <span class="material-icons">light_mode</span>
    </a>
  </div>
</header>
