<section class="cards">
  <div class="container">
    <h2 class="visually-hidden" aria-label="cards">Collections</h2>
    <ul class="cards__list">
      <!-- <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li>
      <li class="cards__item"></li> -->
    </ul>
  </div>
</section>
<!-- В cards__list динамічно підставити картки -->
