<div class="container">
  <div class="pagination" id="pagination">
    <button class="pagination__btn pagination__btn--prev" type="button">
      ←
    </button>

    <ul class="pagination__list">
      <li class="pagination__item">1</li>
      <li class="pagination__item--active">2</li>
      <li class="pagination__item">3</li>
      <li class="pagination__item">4</li>
      <li class="pagination__item">5</li>
      <li class="pagination__item">6</li>
    </ul>

    <button class="pagination__btn pagination__btn--next" type="button">
      →
    </button>
  </div>
</div>
