.overlay.is-hidden .footer__wrapper {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
}

.overlay.footer__wrapper {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.foother-modal__btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: getColor(white-text-color);
    border: 1px solid getColor(accent-text-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}