.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0.25;
  visibility: visible;

  width: 100vw;
  height: 100vh;

  background-color: getColor(primary-text-color);

  transition: opacity getProperty(time) getProperty(cubic),
    visibility getProperty(time) getProperty(cubic);

  @media screen and (min-width: getSize(desktop)) {
    opacity: 0;

    background-color: none;
  }
}

.modal-movie {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  opacity: 1;
  visibility: visible;

  padding: 40px 20px;

  background-color: getColor(white-text-color);

  transform: translate(-50%, -50%) scale(1);
  transition: opacity getProperty(time) getProperty(cubic),
    visibility getProperty(time) getProperty(cubic);

  @media screen and (max-width: getSize(wmobile)) {
    width: 100%;
  }

  @media screen and (min-width: getSize(mobile)) {
    width: 280px;
  }

  @media screen and (min-width: getSize(tablet)) {
    width: 704px;
    display: flex;
    justify-content: center;

    padding: 40px 36px 40px 36px;
  }

  @media screen and (min-width: getSize(desktop)) {
    width: 806px;
    padding: 40px 12px;
  }
}

.backdrop.is-hidden,
.modal-movie.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;

  background-color: transparent;
  color: #000;

  cursor: pointer;
}

.close-btn__icon {
  fill: currentColor;
}

.modal-movie__thumb {
  margin-bottom: 21px;
  border-radius: 5px;

  overflow: hidden;

  @media screen and (min-width: getSize(tablet)) {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }

  @media screen and (min-width: getSize(desktop)) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal-movie__info-container {
  @media screen and (max-width: getSize(wmobile)) {
    width: 99%;
  }

  width: 100%;

  @media screen and (min-width: getSize(tablet)) {
    width: 265px;
  }

  @media screen and (min-width: getSize(desktop)) {
    width: 391px;
  }
}

.modal-movie__title {
  margin-bottom: 19px;

  @include lh(23px, 20px, 20px);
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (min-width: getSize(desktop)) {
    @include lh(35px, 30px, 30px);
  }
}

.modal-movie__table {
  width: 100%;
  margin-bottom: 20px;

  @include lh(16px, 12px, 12px);
}

.modal-movie__cell {
  padding-bottom: 5px;
}

.modal-movie__cell--gray-text {
  color: getColor(modal-items);
}

.modal-movie__cell--last-row {
  padding-bottom: 0;
}

.modal-movie__span {
  display: inline-block;

  width: 36px;
  border-radius: 5px;

  text-align: center;
}

.modal-movie__span--vote {
  background-color: getColor(accent-bg-color);
  color: getColor(white-text-color);
}

.modal-movie__span--votes {
  background-color: getColor(modal-light-gray);
  color: getColor(primary-text-color);
}

.modal-movie__subtitle {
  margin-bottom: 8px;

  @include lh(16px, 12px, 12px);
  text-transform: uppercase;
}

.modal-movie__text {
  max-height: 240px;
  margin-bottom: 20px;
  overflow-y: auto;

  @include lh(20px, 12px, 12px);

  @media screen and (min-width: getSize(tablet)) and (max-width: getSize(wdesktop)) {
    max-height: 220px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: getSize(desktop)) {
    max-height: 160px;
  }
}

.modal-movie__btn-list {
  display: flex;

  @media screen and (max-width: getSize(wmobile)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.modal-movie__btn-item:not(:last-child) {
  @media screen and (max-width: getSize(wmobile)) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: getSize(mobile)) {
    margin-right: 20px;
  }

  @media screen and (min-width: getSize(tablet)) {
    margin-right: 15px;
  }
}

.button.button--modal-btn {
  width: 110px;
  height: 44px;

  @include lh(16px, 12px, 12px);
  text-transform: uppercase;

  color: #000;
  border-color: #000;

  cursor: pointer;

  @media screen and (min-width: getSize(tablet)) {
    width: 125px;
  }

  @media screen and (min-width: getSize(desktop)) {
    width: 136px;
  }
}

.button.button--accent-btn {
  color: getColor(white-text-color);
  background-color: getColor(accent-bg-color);
  border: none;
}