// < !-- <li class="cards__item"></li>-->
// Розмітка контейнера
.cards {
  &__list {
    padding-top: 59px;
    padding-bottom: 59px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    @media screen and (min-width: 768px) {
      row-gap: 32px;
      column-gap: 32px;
    }
    @media screen and (min-width: 1280px) {
      row-gap: 32px;
      column-gap: 16px;
    }
  }
  &__item {
    width: 336px;
    height: 455px;
    margin-bottom: 60px;
    background-color: darkslateblue;
    @media screen and (min-width: 1280px) {
      width: 395px;
      height: 4574px;
    }
  }
}
