.scrolltop__btn {
    width: 65px;
    height: 65px;
    background-color: #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    opacity: 0.8;
    z-index: 999;

    cursor: pointer;
    bottom: 8%;
    right: 2%;

    border-radius: 50px;
    border: 10px double #ff6b08;
}

.scrolltop__btn:hover {
        opacity: 1;
    }

.scrolltop__icon {
    width: 50px;
    height: 50px;
    fill: #ff6b08;
}

