.swiper {
    width: 100%;
    height: 400px;
}

.swiper-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.swiper--flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.swiper__text {
    margin-bottom: 20px;
}

.swiper__comment {
    margin-top: 20px;
}