.dark {
    transition: background-color getProperty(time);

    & .movie-card__img {
        box-shadow: 0 0 20px getColor(primary-text-color);
    }

    & .footer {
        background-color: getColor(current-page);
    }

    & .footer__btn {
        border-bottom: 1px solid getColor(white-text-color);
        color: getColor(white-text-color);
    }

    & .footer__info {
        color: getColor(white-text-color);
    }
}

.material-icons {
    font-size: 23px;
    color: getColor(white-text-color);
    transition: color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        color: getColor(accent-text-color);
    }
}

.theme {
    position: absolute;
    top: 185px;
    right: 20vw;
}

.dark body {
    background-color: getColor(modal-overlay);
}

.dark .movie-card__info-title {
    color: getColor(white-text-color);
}

.dark .card__genre,
.dark .card__year {
    color: getColor(white-text-color);
}