.header__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  .button {
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    width: 130px;
    height: 44px;
    @media screen and (min-width: 768px) {
      width: 147px;
      height: 42px;
    }
    &-active {
      background: #ff6b01;
      border: none;
    }
  }
}
