.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 230px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)),
    url('../images/header/mobile/1x/abstract-background-with-red-lines@1x.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile/2x/abstract-background-with-red-lines@2x.jpg');
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 384dpi),
  (min-resolution: 3dppx) {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile/3x/abstract-background-with-red-lines@3x.jpg');
  }

  @media screen and (min-width: getSize(tablet)) {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/1x/abstract-background-with-red-lines@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('../images/header/tablet/2x/abstract-background-with-red-lines@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 384dpi),
    (min-resolution: 3dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('../images/header/tablet/3x/abstract-background-with-red-lines@3x.jpg');
    }
  }

  @media screen and (min-width: getSize(desktop)) {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/1x/abstract-background-with-red-lines@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('../images/header/desktop/2x/abstract-background-with-red-lines@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 384dpi),
    (min-resolution: 3dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)),
        url('../images/header/desktop/3x/abstract-background-with-red-lines@3x.jpg');
    }
  }
}

.header__container {
  padding-top: 40px;
  padding-bottom: 60px;
}

.header__wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (min-width: getSize(tablet)) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: getSize(desktop)) {
    margin-bottom: 53px;
  }
}

.header__icon {
  animation: scale-logo 2000ms infinite linear;
  stroke: getColor(white-text-color);
}

.logo {
  @extend %link;

  @media screen and (min-width: getSize(tablet)) {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform getProperty(time) getProperty(cubic);
  }

  &__icon {
    display: inline-block;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.logo__text {
  display: none;

  @media screen and (min-width: getSize(tablet)) {
    display: block;
    font-weight: 500;
    margin-left: 10px;
    color: getColor(white-text-color);
    font-size: 30px;
    line-height: 35px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav__item {
  font-size: 12px;

  &:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: getSize(tablet)) {
      margin-right: 40px;
    }
  }
}

.nav__link {
  color: getColor(white-text-color);
  transition: color getProperty(time) getProperty(cubic);
  max-width: 100%;
  text-decoration: none;

  &:hover,
  &:focus {
    color: getColor(accent-text-color);
  }
}

.current {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: getColor(current-page);
    left: 0;
    bottom: -1px;
  }
}

.input__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__header {
  display: inline-block;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: getColor(white-text-color);
  background: none;
  border: none;
  border-bottom: 0.5px solid getColor(white-text-color);
  padding: 0 0 4px 1px;
  outline: none;
  width: 280px;

  transition: border-color getProperty(time) getProperty(cubic),
    transform getProperty(time) getProperty(cubic);

  &:hover,
  &:focus {
    transform: scale(1.03);
    // border-bottom: 0.5px solid getColor(accent-text-color);
  }

  @media screen and (min-width: getSize(tablet)) {
    width: 336px;
  }

  @media screen and (min-width: getSize(desktop)) {
    width: 394px;
  }
}

.input__search-btn {
  background: transparent;
  border: none;
  margin-left: -20px;
  margin-bottom: 12px;
  cursor: pointer;
  z-index: 10;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: transform getProperty(time) getProperty(cubic);
  }

  &:hover,
  &:focus svg {
    stroke: getColor(current-page);
  }

  &:focus-visible {
    outline: none;
  }
}

.input__search-icon {
  stroke: getColor(white-text-color);

  &:hover,
  &:focus {
    stroke: #ff001b;
    transform: scale(1.03);
    transition: transform getProperty(time) getProperty(cubic);
  }
}

.input__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ff001b;
  display: flex;
  justify-content: center;
  opacity: 0;
  // transition: opacity 2s linear;
  transition: all 4s ease;
  // transition: all 2s ease-out;
}

.visually-show-error {
  transition: all 4s ease;
  opacity: 1;
}